GridPane{
-fx-background-color:black;
-fx-border-color:lightblue;
-fx-border-width:1;
}

Label{
-fx-text-fill:lightgrey;
-fx-font-family:Monaco;
-fx-font-size:18px;
}

Label.header{
-fx-text-fill:lightblue;
-fx-font-weight:bold;
-fx-font-size:22px;
-fx-padding:10 125;
}

Label.message{
-fx-text-fill:lightgrey;
-fx-font-family:Verdana;
-fx-font-size:14px;
-fx-padding: 10 20;
}

TextField{
-fx-background-color:lightgrey;
-fx-background-radius:40;
}

Button{
-fx-border-width:2;
-fx-background-color:lightblue;
-fx-font-weight:bold;
-fx-font-family:Verdana;
-fx-font-size:14px;
}

Text{
-fx-fill:lightgrey;
-fx-font-family:Monaco;
-fx-font-size:18px;
}